html,
body {
  padding: 0px;
  margin: 0px;
}
@font-face {
  font-family: csb_italic;
  src: url("../font/csb_italic.woff");
}
.page-wrap {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
}
.account-bar {
  height: 20px;
  padding-left: 50px;
  font-style: italic;
  padding-top: 10px;
  color: #9c9c9c;
}
.banner {
  margin-top: 30px;
  text-align: center;
  font-family: 'csb_italic', serif;
  font-weight: 600;
  letter-spacing: 2px;
  font-size: 20px;
}
.drop-down-indicator::before {
  content: "\02C7";
  font-size: 16px;
  line-height: 0;
  position: relative;
  left: -1px;
  top: 6px;
}
.navigation {
  font-family: Georgia, serif;
}
.navigation ul.navigation-list {
  text-align: center;
  position: relative;
  margin: 0px;
  margin-bottom: 8px;
  z-index: 10;
  border-top: 2px solid #4a4a4a;
  border-bottom: 1px solid #c7c7c7;
}
.navigation ul.navigation-list li {
  width: 100px;
  height: 25px;
  padding-top: 8px;
  padding-bottom: 0px;
  padding-left: 13px;
  padding-right: 13px;
  font-size: 13px;
  list-style-type: none;
  display: inline-block;
  color: #1c1c1a;
  cursor: pointer;
  vertical-align: bottom;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.navigation ul.navigation-list li a,
.navigation ul.navigation-list li a:visited {
  display: block;
  color: #1c1c1a;
  text-decoration: none;
}
.navigation ul.navigation-list li a:hover {
  color: #a39549;
}
.navigation ul.navigation-list li.range span {
  display: block;
  border: 1px solid #b8b8b8;
  border-color: rgba(0,0,0,0);
  height: 100%;
}
.navigation ul.navigation-list li.range .menu {
  display: none;
  background-color: #fff;
  position: absolute;
  top: 30px;
  width: 98px;
}
.navigation ul.navigation-list li.range .menu a {
  height: 25px;
}
.navigation ul.navigation-list li.range .menu a:hover {
  text-decoration: underline;
}
.navigation ul.navigation-list li:hover {
  color: #a39549;
}
.navigation ul.navigation-list li.range:hover span {
  color: #a39549;
  border: 1px solid #b8b8b8;
  border-bottom-color: rgba(0,0,0,0);
}
.navigation ul.navigation-list li.range:hover .menu {
  display: block;
  border: 1px solid #b8b8b8;
  border-top-color: rgba(0,0,0,0);
}
.home-content {
  height: 500px;
  over-flow: hidden;
  display: flex;
}
.home-content .preview {
  flex: 1;
  height: 100%;
}
.home-content .preview a {
  display: block;
  background-size: cover;
  height: 100%;
  transition: background-image 500ms ease;
}
.home-content .thumbnails {
  flex: 1;
  height: 100%;
  position: relative;
}
.home-content .thumbnails .thumbnail {
  width: 140px;
  height: 100px;
}
.home-content .thumbnails .thumbnail a,
.home-content .thumbnails .thumbnail a:visited {
  display: block;
  height: 100%;
  background-size: cover;
  background-position: 50% 50%;
  color: #fff;
  text-align: center;
  line-height: 100px;
  text-decoration: none;
  font-size: 25px;
  text-shadow: 2px 2px 8px #000;
  font-family: 'csb_italic';
  box-shadow: 1px 1px 8px #000;
}
.home-content .thumbnails .thumbnail:first-child {
  position: relative;
  top: 100px;
  margin-left: auto;
  margin-right: auto;
}
.home-content .thumbnails .thumbnail:nth-of-type(2) {
  top: 250px;
  position: absolute;
  left: 15%;
}
.home-content .thumbnails .thumbnail:nth-of-type(3) {
  top: 250px;
  position: absolute;
  right: 15%;
}
.goods {
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer {
  margin-top: 15px;
  margin-left: 20px;
  margin-right: 20px;
}
footer section {
  float: left;
  margin-right: 100px;
  font-family: Arial, san-serif;
}
footer section h3 {
  font-size: 11px;
  color: #999;
}
footer section ul {
  margin: 0;
  list-style-type: none;
  padding: 0px;
}
footer section ul li {
  padding: 2px 0 2px 0;
  margin-left: 0px;
  font-size: 11px;
}
footer section ul li a,
footer section ul li a:visited {
  text-decoration: none;
  color: #666;
}
footer section ul li a:hover {
  text-decoration: underline;
}
.policy {
  padding-left: 20px;
  padding-right: 100px;
  min-height: 300px;
  color: #6c6c6c;
}
.ui-view-container {
  position: relative;
  height: 500px;
}
[ui-view] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 0.5s ease-in-out;
}
[ui-view].ng-enter {
  opacity: 0;
}
[ui-view].ng-enter-active {
  opacity: 1;
}
[ui-view].ng-leave {
  opacity: 1;
}
[ui-view].ng-leave-active {
  opacity: 0;
}
