<div class="policy">
    <h3>Delivery</h3>
    <p>The delivery will include the invoice. </p>

<table>
    <thead>
        <tr>
            <th>Area</th>
            <th>Standard Shipping</th>
            <th>Delivery Time</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Australia</td>
        </tr>
        <tr>
            <td>Hong Kong</td>
        </tr>
        <tr>
            <td>China</td>
        </tr>
        <tr>
            <td>Singapore, Malyasia, US, Canada</td>
            <td></td>
            <td>7 - 10 Business Days</td>
        </tr>
    </tbody>
</table>
<p>A re-delivery courier fee will be charged for an incorrect address, requiring re-delivery:
</p>


<h4>Important delivery information</h4>

 <h5>Shunfeng Post and Australia Post.</h5>
 <p>
     A signature is required upon delivery. If no-one is available to sign and accept our box, the courier company will leave a calling card. The recipient will have to contact the courier to arrange delivery. In Australia, if the courier is not contacted for re-delivery within 5 days, the box will be returned to us and the customer will be charged a re-delivery courier fee.
     The delivery timeframe stated in the table above is based on Business Days (e.g. Monday to Friday). Our courier companies do not deliver on weekends or public holidays.
     A re-delivery fee will be charged for incorrect address details, so please make sure you have the correct details to avoid an additional delivery charge.
     For all remote, country and bulky items, an additional charge may apply. We will inform you if a surcharge is applicable and we will let you know this before sending the box.
     Please also note for remote and country areas, the box may be required to be forwarded onto Australia Post or ShunFeng Post and then delivered to the Local Post Office for collection.

 </p>
</div>
