footer
    margin-top 15px
    margin-left: 20px
    margin-right: 20px
    section
        float: left
        margin-right: 100px
        font-family: Arial, san-serif
        h3
            font-size: 11px
            color: rgb(153, 153, 153)
        ul
            margin: 0
            list-style-type: none
            padding: 0px
            li
                padding: 2px 0 2px 0
                margin-left: 0px
                font-size: 11px
                a,a:visited
                    text-decoration: none
                    color: rgb(102, 102, 102)
                a:hover
                    text-decoration: underline
