
.account-bar
    height: 20px
    padding-left: 50px
    font-style: italic
    padding-top: 10px
    color: rgb(156, 156, 156)

.banner
    margin-top: 30px
    text-align: center
    font-family: 'csb_italic', serif
    font-weight: 600
    letter-spacing: 2px
    font-size: 20px

.drop-down-indicator::before
    content: "\02C7";
    font-size: 16px;
    line-height: 0;
    position: relative;
    left: -1px;
    top: 6px;

$menu-border = 1px solid rgb(184, 184, 184)
$menu-text-color = rgb(28, 28, 26)
$menu-text-color-hover = rgb(163, 149, 73)
.navigation
    font-family: Georgia, serif

    ul.navigation-list
        text-align: center
        position: relative
        margin: 0px
        z-index: 10
        li
            width: 100px
            height: 25px
            padding-top: 8px
            padding-bottom: 0px
            padding-left: 13px
            padding-right: 13px
            font-size: 13px
            list-style-type: none
            display: inline-block
            color: $menu-text-color
            cursor: pointer
            vertical-align: bottom
            text-transform: uppercase
            //box-sizing: border-box
            letter-spacing: 2px
            a, a:visited
                display: block
                color: $menu-text-color
                text-decoration: none
            a:hover
                color: $menu-text-color-hover
            &.range
                span
                    display: block
                    border: $menu-border
                    border-color: rgba(0,0,0,0)
                    height: 100%
                .menu
                    display: none
                    background-color: white
                    position: absolute
                    top: 30px
                    width: 98px
                    a
                        height: 25px
                        &:hover
                            text-decoration: underline
            &:hover
                color: $menu-text-color-hover

            &.range:hover
                span
                    color: $menu-text-color-hover
                    border: $menu-border
                    border-bottom-color: rgba(0,0,0,0)

                .menu
                    display: block
                    border: $menu-border
                    border-top-color: rgba(0,0,0,0)
