.home-content
    background-image: url("../img/purple-candle.jpg")
    background-size: cover
    background-position: 50% 30%
    height: 500px
    display: flex
    justify-content: center
    align-items: center
    .explore
        background-color: rgba(0,0,0,0)
        border-radius: 10px
        border: 3px solid white
        flex: initial
        color: white
        font-family: helvetica
        font-size: 20px
        width: 150px
        height: 40px
        cursor: pointer
