.account-bar
    height: 41px
    .account-links
        float: right

.banner
    text-align: center
    font-family: Georgia, serif

.navigation
    font-family: Georgia, serif

    ul.navigation-list
        text-align: center
        li
            width: 100px
            font-size: 15px
            list-style-type: none
            display: inline-block
